<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/menu_stl.css" rel="stylesheet" type="text/css">
    <title>Menu de compra</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

</head>

<body>
    <header id="header">
        <a href="/index.html">&lt;Volver</a>
        <h3>Menu de articulos</h3> 
        <img class="carrito" src="/img-stock/icons/carrito-de-compras.png" alt="carrito">
    </header>
    <section></section>
<!-- <div class="lista-carrito"></div> -->
    <div id="contenedor" class="contenedor">
        <div>
            <img src="/img-stock/man-go.png" alt="producto 1">
            <div class="informacion">
                <p>Mangonada</p>
                <p class="precio">$79<span>.99</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/img-stock/uva-ras.png" alt="producto 2">
            <div class="informacion">
                <p>Raspado de uva</p>                   
                <p class="precio">$29<span>.99</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/img-stock/sand-ia2.png" alt="producto 3">
            <div class="informacion">
                <p>Paleta de sandia</p>                   
                <p class="precio">$20<span></span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/img-stock/sol-eta2.png" alt="producto 4">
            <div class="informacion">
                <p>Soleta</p>                   
                <p class="precio">$149<span>.99</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="img/imagen5.webp" alt="producto 5">
            <div class="informacion">
                <p>Producto 5</p>                   
                <p class="precio">$599<span>.99</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="img/imagen6.webp" alt="producto 6">
            <div class="informacion">
                <p>Producto 6</p>                   
                <p class="precio">$699<span>.99</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="img/imagen7.webp" alt="producto 7">
            <div class="informacion">
                <p>Producto 7</p>                   
                <p class="precio">$799<span>.99</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="img/imagen8.webp" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">$899<span>.99</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="img/imagen9.webp" alt="producto 9">
            <div class="informacion">
                <p>Producto 9</p>                   
                <p class="precio">$999<span>.99</span></p>
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <script src="/assets/js/carrito.js"></script>
</body>

</html>